@media all and (min-width: 480px) {
    .ChangePassword {
      padding: 60px 0;
    }
  
    .ChangePassword form {
      margin: 0 auto;
      max-width: 320px !important;
    }

    .ChangePassword .changeSuccessful {
      max-width: 400px;
    }
}

.ChangePassword .changeSuccessful {
  margin: 0 auto;
  text-align: center;
}

.ChangePassword .changeSuccessful .icon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}
