@media all and (min-width: 480px) {
  .ResetPassword {
    padding: 60px 0;
  }

  .ResetPassword form {
    margin: 0 auto;
    max-width: 320px !important;
  }

  .ResetPassword .success {
    max-width: 400px;
  }

  .ResetPassword .loggingIn {
    max-width: 400px;
  }
}

.ResetPassword .success {
  margin: 0 auto;
  text-align: center;
}
.ResetPassword .success .icon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}

.ResetPassword .loggingIn {
  margin: 0 auto;
  text-align: center;
}




.link-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: #4789ca;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
color: #3371af;
}